.parent {
  overflow: hidden;
  position: relative;
  min-height: 100%;
}

.sidenav {
  padding-bottom: 10000;
  margin-bottom: -10000px;
  z-index: 1000;
  position: absolute;
  height: 100%;
  float: left;
}

.content {
  float: right;
}
